@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');



html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

/* navigation bar start */

.navbar {
  background-color: rgb(255, 235, 197);
}

.navigation-link {
  color: rgb(59, 120, 59) !important;
}

.navigation-link:hover {

  background-color: rgb(59, 120, 59);
  color: white !important;
  border: 0;
  margin: 0;


}

.logo {
  margin: 0;
  padding: 0;

}



/* navigation bar end */

/* container start*/
.product-flex {
  column-gap: 50px;


}

.product-card {
  width: 310px;
  background-color: rgb(255, 235, 197) !important;
  

}



.btn {
  background-color: rgb(59, 120, 59) !important;
  color: white !important;
  align-items: end;
  max-height: fit-content;
  padding: 10px !important;
}

@media (max-width: 1024px) {

  .product-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;


  }
}

.count-btn {
  column-gap: 12px;
  justify-content: space-evenly;

}

/* container end*/

/* footer start*/
.footer {
  background-color: rgb(255, 235, 197) !important;
}


.footer-logo {

  padding-top: 50px;
}

@media (max-width: 576px) {

  .footer {
    display: flex;
    flex-direction: column;
  }

  .logo-foot {
    width: 100px !important;

  }
}


/*footer ends*/